In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker #For changing ticker location and formatting
import seaborn as sns

from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [3]:
#Load in clean CSV
clean_test = pd.read_csv('./datasets/clean_recoded_test_ames.csv', index_col = 'id')
clean_test.head()
    #I'm at the end of the worflow, but I just realized I always should have been reading in the data files by making the 'id' the index column.

,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,utilities,...,misc_val,mo_sold,yr_sold,sale_type,age_at_sale,age_since_remod,bsmnt_fin_sf,sold_in_crisis,has_wood_deck,has_pool
id,,,,,,,,,,,,,,,,,,,,,
2658,902301120,190,RM,69.0,9142,Pave,Grvl,4,Lvl,AllPub,...,0,4,2006,WD,96,56,0,0,0,0
2718,905108090,90,RL,0.0,9662,Pave,NaN,3,Lvl,AllPub,...,0,8,2006,WD,29,29,0,0,1,0
2414,528218130,60,RL,58.0,17104,Pave,NaN,3,Lvl,AllPub,...,0,9,2006,New,0,0,554,0,1,0
1989,902207150,30,RM,60.0,8520,Pave,NaN,4,Lvl,AllPub,...,0,7,2007,WD,84,1,0,0,0,0
625,535105100,20,RL,0.0,9500,Pave,NaN,3,Lvl,AllPub,...,0,7,2009,WD,46,46,609,1,0,0

In [11]:
clean_test = clean_test.select_dtypes(exclude = 'object')
clean_test.head(5)

,ms_subclass,lot_frontage,lot_area,lot_shape,land_slope,overall_qual,overall_cond,year_built,year_remod/add,mas_vnr_area,...,pool_area,fence,misc_val,yr_sold,age_at_sale,age_since_remod,bsmnt_fin_sf,sold_in_crisis,has_wood_deck,has_pool
id,,,,,,,,,,,,,,,,,,,,,
2658,190,69.0,9142,4,3,6,8,1910,1950,0.0,...,0,0,0,2006,96,56,0,0,0,0
2718,90,0.0,9662,3,3,5,4,1977,1977,0.0,...,0,0,0,2006,29,29,0,0,1,0
2414,60,58.0,17104,3,3,7,5,2006,2006,0.0,...,0,0,0,2006,0,0,554,0,1,0
1989,30,60.0,8520,4,3,5,6,1923,2006,0.0,...,0,0,0,2007,84,1,0,0,0,0
625,20,0.0,9500,3,3,6,5,1963,1963,247.0,...,0,0,0,2009,46,46,609,1,0,0

In [5]:
clean_test.dtypes

pid                  int64
ms_subclass          int64
lot_frontage       float64
lot_area             int64
lot_shape            int64
                    ...
age_since_remod      int64
bsmnt_fin_sf         int64
sold_in_crisis       int64
has_wood_deck        int64
has_pool             int64
Length: 63, dtype: object

In [12]:
pd.set_option('display.max_rows', 70)
clean_test.isnull().sum()

ms_subclass        0
lot_frontage       0
lot_area           0
lot_shape          0
land_slope         0
overall_qual       0
overall_cond       0
year_built         0
year_remod/add     0
mas_vnr_area       0
exter_qual         0
exter_cond         0
bsmt_qual          0
bsmt_cond          0
bsmt_exposure      0
bsmtfin_type_1     0
bsmtfin_sf_1       0
bsmtfin_type_2     0
bsmtfin_sf_2       0
bsmt_unf_sf        0
total_bsmt_sf      0
heating_qc         0
central_air        0
electrical         0
1st_flr_sf         0
2nd_flr_sf         0
low_qual_fin_sf    0
gr_liv_area        0
bsmt_full_bath     0
bsmt_half_bath     0
full_bath          0
half_bath          0
bedroom_abvgr      0
kitchen_abvgr      0
kitchen_qual       0
totrms_abvgrd      0
functional         0
fireplaces         0
fireplace_qu       0
garage_finish      0
garage_cars        0
garage_area        0
garage_qual        0
garage_cond        0
paved_drive        0
wood_deck_sf       0
open_porch_sf      0
enclosed_porch     0
3ssn_porch         0
screen_porch       0
pool_area          0
fence              0
misc_val           0
yr_sold            0
age_at_sale        0
age_since_remod    0
bsmnt_fin_sf       0
sold_in_crisis     0
has_wood_deck      0
has_pool           0
dtype: int64

In [10]:
cols_to_drop = ['pid', 'garage_yr_blt', 'mo_sold']
clean_test = clean_test.drop(cols_to_drop, axis = 1)

In [13]:
clean_test.head()

,ms_subclass,lot_frontage,lot_area,lot_shape,land_slope,overall_qual,overall_cond,year_built,year_remod/add,mas_vnr_area,...,pool_area,fence,misc_val,yr_sold,age_at_sale,age_since_remod,bsmnt_fin_sf,sold_in_crisis,has_wood_deck,has_pool
id,,,,,,,,,,,,,,,,,,,,,
2658,190,69.0,9142,4,3,6,8,1910,1950,0.0,...,0,0,0,2006,96,56,0,0,0,0
2718,90,0.0,9662,3,3,5,4,1977,1977,0.0,...,0,0,0,2006,29,29,0,0,1,0
2414,60,58.0,17104,3,3,7,5,2006,2006,0.0,...,0,0,0,2006,0,0,554,0,1,0
1989,30,60.0,8520,4,3,5,6,1923,2006,0.0,...,0,0,0,2007,84,1,0,0,0,0
625,20,0.0,9500,3,3,6,5,1963,1963,247.0,...,0,0,0,2009,46,46,609,1,0,0

In [14]:
#The number of columns on the scores I'm using and the test data are the same.
clean_test.columns

Index(['ms_subclass', 'lot_frontage', 'lot_area', 'lot_shape', 'land_slope',
       'overall_qual', 'overall_cond', 'year_built', 'year_remod/add',
       'mas_vnr_area', 'exter_qual', 'exter_cond', 'bsmt_qual', 'bsmt_cond',
       'bsmt_exposure', 'bsmtfin_type_1', 'bsmtfin_sf_1', 'bsmtfin_type_2',
       'bsmtfin_sf_2', 'bsmt_unf_sf', 'total_bsmt_sf', 'heating_qc',
       'central_air', 'electrical', '1st_flr_sf', '2nd_flr_sf',
       'low_qual_fin_sf', 'gr_liv_area', 'bsmt_full_bath', 'bsmt_half_bath',
       'full_bath', 'half_bath', 'bedroom_abvgr', 'kitchen_abvgr',
       'kitchen_qual', 'totrms_abvgrd', 'functional', 'fireplaces',
       'fireplace_qu', 'garage_finish', 'garage_cars', 'garage_area',
       'garage_qual', 'garage_cond', 'paved_drive', 'wood_deck_sf',
       'open_porch_sf', 'enclosed_porch', '3ssn_porch', 'screen_porch',
       'pool_area', 'fence', 'misc_val', 'yr_sold', 'age_at_sale',
       'age_since_remod', 'bsmnt_fin_sf', 'sold_in_crisis', 'has_wood_deck',
       'has_pool'],
      dtype='object')

In [34]:
clean_test.shape

(878, 60)

### Re-loading and Cleaning Data from Model Build

In [15]:
df = pd.read_csv('./datasets/clean_recoded_ames.csv')
df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,mo_sold,yr_sold,sale_type,saleprice,age_at_sale,age_since_remod,bsmnt_fin_sf,sold_in_crisis,has_wood_deck,has_pool
0,109,533352170,60,RL,0.0,13517,Pave,NaN,3,Lvl,...,3,2010,WD,130500,34,5,533.0,1,0,0
1,544,531379050,60,RL,43.0,11492,Pave,NaN,3,Lvl,...,4,2009,WD,220000,13,12,637.0,1,0,0
2,153,535304180,20,RL,68.0,7922,Pave,NaN,4,Lvl,...,1,2010,WD,109000,57,3,731.0,1,0,0
3,318,916386060,60,RL,73.0,9802,Pave,NaN,4,Lvl,...,4,2010,WD,174000,4,3,0.0,1,1,0
4,255,906425045,50,RL,82.0,14235,Pave,NaN,3,Lvl,...,3,2010,WD,138500,110,17,0.0,1,0,0

In [16]:
df['mo_sold'] = df['mo_sold'].astype(str)

In [17]:
df['garage_type'].fillna('None', inplace = True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049 entries, 0 to 2048
Data columns (total 87 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2049 non-null   int64
 1   pid              2049 non-null   int64
 2   ms_subclass      2049 non-null   int64
 3   ms_zoning        2049 non-null   object
 4   lot_frontage     2049 non-null   float64
 5   lot_area         2049 non-null   int64
 6   street           2049 non-null   object
 7   alley            140 non-null    object
 8   lot_shape        2049 non-null   int64
 9   land_contour     2049 non-null   object
 10  utilities        2049 non-null   object
 11  lot_config       2049 non-null   object
 12  land_slope       2049 non-null   int64
 13  neighborhood     2049 non-null   object
 14  condition_1      2049 non-null   object
 15  condition_2      2049 non-null   object
 16  bldg_type        2049 non-null   object
 17  house_style      2049 non-null   object
 18  overall_qual     2049 non-null   int64
 19  overall_cond     2049 non-null   int64
 20  year_built       2049 non-null   int64
 21  year_remod/add   2049 non-null   int64
 22  roof_style       2049 non-null   object
 23  roof_matl        2049 non-null   object
 24  exterior_1st     2049 non-null   object
 25  exterior_2nd     2049 non-null   object
 26  mas_vnr_type     2049 non-null   object
 27  mas_vnr_area     2049 non-null   float64
 28  exter_qual       2049 non-null   int64
 29  exter_cond       2049 non-null   int64
 30  foundation       2049 non-null   object
 31  bsmt_qual        2049 non-null   int64
 32  bsmt_cond        2049 non-null   int64
 33  bsmt_exposure    2049 non-null   int64
 34  bsmtfin_type_1   2049 non-null   int64
 35  bsmtfin_sf_1     2049 non-null   float64
 36  bsmtfin_type_2   2049 non-null   int64
 37  bsmtfin_sf_2     2049 non-null   float64
 38  bsmt_unf_sf      2049 non-null   float64
 39  total_bsmt_sf    2049 non-null   float64
 40  heating          2049 non-null   object
 41  heating_qc       2049 non-null   int64
 42  central_air      2049 non-null   int64
 43  electrical       2049 non-null   int64
 44  1st_flr_sf       2049 non-null   int64
 45  2nd_flr_sf       2049 non-null   int64
 46  low_qual_fin_sf  2049 non-null   int64
 47  gr_liv_area      2049 non-null   int64
 48  bsmt_full_bath   2049 non-null   float64
 49  bsmt_half_bath   2049 non-null   float64
 50  full_bath        2049 non-null   int64
 51  half_bath        2049 non-null   int64
 52  bedroom_abvgr    2049 non-null   int64
 53  kitchen_abvgr    2049 non-null   int64
 54  kitchen_qual     2049 non-null   int64
 55  totrms_abvgrd    2049 non-null   int64
 56  functional       2049 non-null   int64
 57  fireplaces       2049 non-null   int64
 58  fireplace_qu     2049 non-null   int64
 59  garage_type      2049 non-null   object
 60  garage_yr_blt    1935 non-null   float64
 61  garage_finish    2049 non-null   int64
 62  garage_cars      2049 non-null   float64
 63  garage_area      2049 non-null   float64
 64  garage_qual      2049 non-null   int64
 65  garage_cond      2049 non-null   int64
 66  paved_drive      2049 non-null   int64
 67  wood_deck_sf     2049 non-null   int64
 68  open_porch_sf    2049 non-null   int64
 69  enclosed_porch   2049 non-null   int64
 70  3ssn_porch       2049 non-null   int64
 71  screen_porch     2049 non-null   int64
 72  pool_area        2049 non-null   int64
 73  pool_qc          8 non-null      object
 74  fence            2049 non-null   int64
 75  misc_feature     64 non-null     object
 76  misc_val         2049 non-null   int64
 77  mo_sold          2049 non-null   object
 78  yr_sold          2049 non-null   int64
 79  sale_type        2049 non-null   object
 80  saleprice        2049 non-null   int64
 81  age_at_sale      2049 non-null   int64
 82  age_since_remod  2049 non-null   int64
 83  bsmnt_fin_sf     2049 non-null   float64
 84  sold_in_crisis   2049 non-null   int64
 85  has_wood_deck    2049 non-null   int64
 86  has_pool         2049 non-null   int64
dtypes: float64(12), int64(52), object(23)
memory usage: 1.4+ MB

In [19]:
numeric_data = df.select_dtypes(exclude = 'object')
numeric_data.head(5)

,id,pid,ms_subclass,lot_frontage,lot_area,lot_shape,land_slope,overall_qual,overall_cond,year_built,...,fence,misc_val,yr_sold,saleprice,age_at_sale,age_since_remod,bsmnt_fin_sf,sold_in_crisis,has_wood_deck,has_pool
0,109,533352170,60,0.0,13517,3,3,6,8,1976,...,0,0,2010,130500,34,5,533.0,1,0,0
1,544,531379050,60,43.0,11492,3,3,7,5,1996,...,0,0,2009,220000,13,12,637.0,1,0,0
2,153,535304180,20,68.0,7922,4,3,5,7,1953,...,0,0,2010,109000,57,3,731.0,1,0,0
3,318,916386060,60,73.0,9802,4,3,5,5,2006,...,0,0,2010,174000,4,3,0.0,1,1,0
4,255,906425045,50,82.0,14235,3,3,6,8,1900,...,0,0,2010,138500,110,17,0.0,1,0,0

In [20]:
numeric_data.dtypes

id                   int64
pid                  int64
ms_subclass          int64
lot_frontage       float64
lot_area             int64
lot_shape            int64
land_slope           int64
overall_qual         int64
overall_cond         int64
year_built           int64
year_remod/add       int64
mas_vnr_area       float64
exter_qual           int64
exter_cond           int64
bsmt_qual            int64
bsmt_cond            int64
bsmt_exposure        int64
bsmtfin_type_1       int64
bsmtfin_sf_1       float64
bsmtfin_type_2       int64
bsmtfin_sf_2       float64
bsmt_unf_sf        float64
total_bsmt_sf      float64
heating_qc           int64
central_air          int64
electrical           int64
1st_flr_sf           int64
2nd_flr_sf           int64
low_qual_fin_sf      int64
gr_liv_area          int64
bsmt_full_bath     float64
bsmt_half_bath     float64
full_bath            int64
half_bath            int64
bedroom_abvgr        int64
kitchen_abvgr        int64
kitchen_qual         int64
totrms_abvgrd        int64
functional           int64
fireplaces           int64
fireplace_qu         int64
garage_yr_blt      float64
garage_finish        int64
garage_cars        float64
garage_area        float64
garage_qual          int64
garage_cond          int64
paved_drive          int64
wood_deck_sf         int64
open_porch_sf        int64
enclosed_porch       int64
3ssn_porch           int64
screen_porch         int64
pool_area            int64
fence                int64
misc_val             int64
yr_sold              int64
saleprice            int64
age_at_sale          int64
age_since_remod      int64
bsmnt_fin_sf       float64
sold_in_crisis       int64
has_wood_deck        int64
has_pool             int64
dtype: object

In [40]:
numeric_data_cols = numeric_data.columns.tolist()
numeric_data_cols

['id',
 'pid',
 'ms_subclass',
 'lot_frontage',
 'lot_area',
 'lot_shape',
 'land_slope',
 'overall_qual',
 'overall_cond',
 'year_built',
 'year_remod/add',
 'mas_vnr_area',
 'exter_qual',
 'exter_cond',
 'bsmt_qual',
 'bsmt_cond',
 'bsmt_exposure',
 'bsmtfin_type_1',
 'bsmtfin_sf_1',
 'bsmtfin_type_2',
 'bsmtfin_sf_2',
 'bsmt_unf_sf',
 'total_bsmt_sf',
 'heating_qc',
 'central_air',
 'electrical',
 '1st_flr_sf',
 '2nd_flr_sf',
 'low_qual_fin_sf',
 'gr_liv_area',
 'bsmt_full_bath',
 'bsmt_half_bath',
 'full_bath',
 'half_bath',
 'bedroom_abvgr',
 'kitchen_abvgr',
 'kitchen_qual',
 'totrms_abvgrd',
 'functional',
 'fireplaces',
 'fireplace_qu',
 'garage_yr_blt',
 'garage_finish',
 'garage_cars',
 'garage_area',
 'garage_qual',
 'garage_cond',
 'paved_drive',
 'wood_deck_sf',
 'open_porch_sf',
 'enclosed_porch',
 '3ssn_porch',
 'screen_porch',
 'pool_area',
 'fence',
 'misc_val',
 'yr_sold',
 'saleprice',
 'age_at_sale',
 'age_since_remod',
 'bsmnt_fin_sf',
 'sold_in_crisis',
 'has_wood_deck',
 'has_pool']

In [21]:
cols_to_drop = ['id', 'pid', 'saleprice', 'garage_yr_blt']
X_numeric = numeric_data.drop(cols_to_drop, axis = 1)
y_numeric = df['saleprice']

In [22]:
X_numeric.shape, y_numeric.shape

((2049, 60), (2049,))

In [23]:
X_numeric_train, X_numeric_test, y_numeric_train, y_numeric_test = train_test_split(X_numeric, y_numeric)

In [24]:
X_numeric_train.shape, X_numeric_test.shape, y_numeric_train.shape, y_numeric_test.shape

((1536, 60), (513, 60), (1536,), (513,))

In [25]:
lr_numeric = LinearRegression()

In [26]:
lr_numeric.fit(X_numeric_train, y_numeric_train)

LinearRegression()

In [27]:
lr_numeric.score(X_numeric_train, y_numeric_train)

0.8991195649291944

In [28]:
lr_numeric.score(X_numeric_test, y_numeric_test)

0.8848910676561658

In [29]:
y_preds = lr_numeric.predict(clean_test)

In [30]:
y_preds

array([150174.44777851, 151290.9987916 , 213115.40926633, 109443.00509386,
       184454.0232037 ,  72345.04436891,  95835.21915485, 142495.4844471 ,
       185627.56536792, 155594.78921326, 164681.72628186, 112164.44552359,
       156072.32066006, 251584.19663014, 165312.86060799, 121833.72662641,
       144523.65205886, 115556.58958962, 195049.65728181, 210565.16524762,
       140997.6072609 , 118278.67928159, 203557.19411894, 172701.20409445,
       194084.72227411, 115079.07095483, 115589.19306497, 153013.61659139,
       162693.61927773,  44250.07353633, 102517.8991271 ,  88188.08985975,
       265954.22335469, 160009.43482988, 229908.47842615, 172850.50709178,
       127900.67584449,  67097.38617465, 123760.51743432, 196903.80943373,
       158505.53660031, 213765.15568418, 155092.40043798, 182039.55014103,
       239926.63774471,  88798.72229382, 238992.4293716 , 113632.30148095,
       117500.95985442, 114959.97817626, 116335.34326104, 222375.33910737,
       258335.31238657, 131081.89625189,  98981.1204364 , 148553.36617311,
       161320.84238938, 137336.8895437 , 155394.49507229, 242906.78065288,
       335029.89304055, 122213.82393647, 149805.08425927, 163658.91306284,
       187674.09634611, 303451.81821949,  83333.6748109 , 219772.8901782 ,
        78300.56604032, 168016.8294943 ,  75167.49073225, 337974.98369901,
       199369.92686066, 178722.39907589, 136022.06939201, 207219.55297519,
       144382.02915418, 142750.57091792,  89977.87621081, 370311.16094379,
       212978.91142456, 123644.44258849, 137999.16279769, 108742.04139982,
       207580.52454397, 341590.45833989, 116206.84019342, 177930.49539786,
       256803.88815683, 134418.57172771, 125050.03464323,  92081.58372925,
       103772.62503905, 203364.65338909, 109140.51337237, 144424.04127245,
       214334.92081278, 216226.94129991, 205561.72735686, 227057.06269885,
       323081.42798992, 184156.09436665, 106636.27316517, 487081.1357499 ,
       165206.04613636, 112613.34967491, 169182.57654233, 203161.22287261,
       171736.00163888, 131328.42174347, 183785.18714978, 227084.95662831,
       110276.96287868, 140359.38636032, 254107.32527759, 489992.621842  ,
       132486.2861337 , 102638.13014662, 339987.95261897, 189361.11775681,
       403604.75922471, 292177.95536899, 293727.04250973, 159208.92240517,
       150481.06319189, 361616.62448736, 118840.48252967, 135067.06838187,
       103652.16176328, 271716.06000981, 126121.01860543, 197233.92739164,
       122062.88384073, 190383.16729212, 150261.77555344, 237321.04828814,
       205994.38571793, 184715.21821928, 216854.14597935, 124396.39876037,
       189953.72851073, 131244.92030627, 125803.77194837, 154807.83847032,
       101602.03336451, 140327.12828701, 160185.84175279, 148593.76619468,
        55886.32546244, 241180.44198756, 214484.10837035, 174233.42074171,
       106817.20544663, 113621.93810769, 119200.92548727, 130384.25687869,
        62143.65490946, 142798.20731393, 264265.27336611, 285266.17596052,
       228044.94537984, 111783.05512867, 119092.25614648, 456763.56610412,
       265991.50146614, 233092.03033863, 175208.65177238, 168602.9824599 ,
       270976.48844627, 204984.61957511, 503787.0879997 , 119159.08085698,
       174873.61965717, 154363.06030418, 208992.93904138, 197502.85268197,
        82283.36652631, 157335.9971234 ,  71468.69717496, 137723.12361813,
       131325.82548518, 195030.72414062, 265225.54639361, 192388.98948833,
       152899.44804307, 116147.69823553, 202000.71941721, 207742.19155255,
       104117.67871144,  64594.54490766, 187721.04878083, 131570.88897844,
        87815.89562614,  87232.53090583, 185755.01629212, 155507.81191012,
       280823.98086926, 153354.77347129, 114930.40681401, 113857.94138344,
       310777.10720608, 165839.3137616 , 128111.19542975, 201687.39043743,
       128624.06124147,  88403.60714348, 131765.36719682, 154004.10062058,
       201673.19775516, 229925.79292151, 186043.04586486, 215346.38096701,
       107756.55964968, 470089.33730535, 267984.80997442, 204664.31890452,
       255046.91956027, 142399.64491708, 122998.28405336, 129163.84866298,
       186528.46891263, 142104.85187823, 175496.75398883, 198389.56043447,
       116179.18522299, 108702.37569193, 269252.12819711, 226389.96655397,
       148065.70123843, 291085.60425698, 190690.27186018,  72164.12081309,
       126671.31375699,  88264.82229424, 319004.79999187, 164141.42892442,
        95170.22469529, 398751.65302971, 369078.81129581, 182914.69932416,
       270813.82939493, 151539.47098842, 291819.17021578, 264737.58303698,
       330291.9407023 , 267460.87681446, 128938.793295  , 110091.93609891,
       175996.83202859, 300774.28767863, 282408.02628577, 153464.59959942,
       248898.23375226, 233759.35645446, 206362.05157529, 108096.62911217,
        79843.51871326, 407750.14776435, 224843.72177632, 260974.73937445,
       188720.2709461 , 141214.9121707 , 110650.90538537, 165169.27837487,
       248350.14417094, 161437.51934821, 140929.32963784, 224249.85227984,
       168795.72574752, 138289.3217879 , 200332.11287973, 190149.7434573 ,
       170433.2685605 , 345435.59685529, 104409.87441164, 156595.85512468,
       161321.48322639, 207332.16132889,  90263.15611534, 117129.13640615,
       242876.73040886, 130493.26824877, 118199.05759828,  84959.06945351,
       117403.3504071 , 246165.33788998, 219333.90274572, 110033.10728052,
        90277.78790175, 146773.45673107, 102585.62539778, 136509.17727578,
        59578.76397053,  94638.14319604, 161804.94548271, 163568.8509354 ,
       227393.2282876 , 264599.55256307, 258942.7940359 , 123897.10205228,
       183374.70823616, 313188.11365192, 122584.14310479, 141577.93611589,
        53232.85159241,  87935.72134583, 357712.15385088, 206644.82951603,
       133597.21470445, 119463.24028888, 239033.23294923, 211714.4762429 ,
       256210.41217622, 285327.43846958, 139302.28327987, 332313.86484108,
       353414.34769943, 247866.763468  , 247954.3660532 , 117733.68978118,
        77737.53857409, 112536.1860556 , 147053.21865804, 243507.31002241,
       127898.35101263, 124205.09555508, 164357.83942894, 177593.52867631,
       220853.99186482, 140306.15174818, 168279.93255514, 185747.75594829,
       165140.47004374, 208863.72597122,  86102.64926171, 154095.51579259,
        96722.93031179, 122455.15432079, 143856.04716559, 173375.19766337,
       217154.07752185, 108397.34873476, 140495.8451054 , 183733.32684596,
       285016.40021974, 240727.04603456, 175705.58532102,  90614.22103996,
       223212.75489712, 152502.6134898 , 148369.23223303, 154382.53297049,
       120436.55594312, 288465.42063088, 138940.68358054, 284160.11611528,
       146175.93292443, 224215.54025714, 253504.43658994, 122403.29141849,
       148124.39897706, 178681.62667357,  68843.95498829, 158996.10479357,
       214360.26862339, 284020.59561989, 249172.56602284, 234967.04983114,
       223435.37234736, 101799.2543428 , 211532.85973728, 115916.29979031,
       165707.80847362, 383144.21635842, 120313.97404215, 282636.31404207,
       170970.13827617, 274344.20595028, 213707.88934845, 142035.49485671,
       151994.64905849, 124885.23674879, 334470.84926928, 307443.86021437,
       227941.80553155, 189939.59953796, 166213.95235875, 189505.95038518,
       149144.94661279, 119945.22801263,  92247.37331232, 313939.4620215 ,
       167934.57253725, 141776.25850162, 179284.37697801,  49433.96956628,
       185938.94748476, 184431.4430615 , 120641.41980841,  94377.90217554,
       227206.49158763, 261463.3013823 , 108925.61392126, 276995.56617195,
       110202.01370635, 107199.42405852, 140925.01998313, 241137.25075615,
       289711.12278521, 145292.96459343, 118765.43102742, 142001.33726834,
       261698.89217736,  96252.17667341, 284829.01033578, 326142.12278153,
       123566.92784992, 251076.40662894, 108309.61003905, 145484.59834802,
       252468.40807032, 122857.42909068, 266003.4173412 , 105483.22699965,
       242535.84753654, 369531.59941903, 215632.73498752, 226595.79773595,
       135847.11148709, 290697.4409505 , 100648.363936  , 134744.4778601 ,
       115898.55051632, 206333.42456037, 105021.2944102 , 309435.86078998,
       197076.68674975, 185795.66251003, 148124.60848469, 146114.56553943,
       215722.86852965, 132545.05410038, 103744.70711927, 184188.50270529,
       169996.18380965, 257192.00486399,  25533.17962037,  82865.64516932,
       305740.13742298, 120720.9970324 , 227285.50772733, 291522.17375468,
       213499.57908373, 152600.303867  , 198672.3118142 , 227658.0991715 ,
       243931.6407994 , 115698.3447398 , 255651.54339158, 115801.97780235,
       141098.7915077 , 122935.99564353, 146372.22655393, 546742.07674426,
       113095.95556145, 230389.14927353, 248436.92648498, 247775.49884518,
       106729.28614238, 125945.50032679, 139501.50278336, 246860.31503584,
       169968.97792743, 101196.84625144, 269111.96108877, 226664.12318031,
       102703.22475979, 145920.20110413, 100923.62794917, 184265.37765085,
        62626.57214818, 234521.54457494, 118892.39357941, 191069.90346721,
       275803.94885333, 157082.72181923, 170348.8601507 , 187532.97611724,
       202643.055972  , 132805.42931276, 130297.3138561 , 225470.06188228,
       183329.51086719, 237010.69590124, 344158.86194903, 186142.1056487 ,
       104055.35846452, 119496.50985302, 162605.82897573, 114714.3191224 ,
       190316.46767981, 232416.87768036, 203858.72606332, 166146.07429738,
       263522.15311545, 133498.59443524, 248943.42417443, 106727.06905293,
       109068.92901882, 271386.65835961, 117584.3672614 , 131481.61464317,
       139848.97659151, 135944.55114659,  28243.07004319, 194651.6350924 ,
       168670.46845962, 208654.0345393 , 287114.12232321, 281123.13435728,
        88486.39366191, 127170.99807407, 122870.11595452, 114454.49222344,
       240336.22573929, 415365.05234054, 200720.68433827, 113246.37764683,
       144526.10584319,  31121.03981726, 107088.44779179, 197640.1344737 ,
       151066.1364336 , 191235.64899463, 177010.62761324, 154911.63901491,
        67235.19768939, 224941.81638917, 138917.72114525, 179373.40634164,
       143373.14443384,  83107.07257961,  61720.81814196, 151818.32717037,
       253416.56663382, 331546.23756141, 262118.78830512, 113683.49183158,
        96103.51737989, 276473.01819189, 128557.86933579, 289725.57992547,
        70565.23219833, 196841.01141809, 224266.95694586,  88829.31129038,
       123125.76038353, 135570.13706982, 114110.78575782, 163707.53039779,
       103731.8999798 , 165531.62616307, 175133.50131707, 157131.58991665,
       136524.07869796, 119408.21752115, 140973.63927955, 212693.71224455,
       119181.65835679, 145734.55149395, 159605.9822816 , 118475.02785986,
        82548.85496337, 151415.52812225, 198479.0258256 , 108824.55955356,
       183642.82148614, 155990.78563158, 194766.36559596,  99214.64116964,
       154947.87762658, 158347.93807507, 295779.98607836, 115271.44946452,
       141081.14837028, 175306.04332133, 149307.00195524, 112760.37087361,
       301490.2320879 , 229128.62267679, 115078.68061317, 117676.62169207,
       136184.08054866, 121695.88972874, 359440.13170877, 226913.86861192,
       144405.61590099, 130166.97079696, 106441.6600601 , 346446.87591003,
       120756.47310135, 214836.25313463, 127170.2571934 , 188891.46655131,
       235704.76315725,  85475.3173666 , 117719.79582164, 104107.71395225,
       160087.61757444, 129708.77756279, 126640.60641847, 365197.54043923,
       226531.55939413, 133915.22049141, 134786.02880614,    869.36513073,
       197590.29948935, 295442.82956037,  61766.77058301, 148189.9479448 ,
       218482.75408251, 103241.60237661, 142797.53676757, 113749.02395369,
       147740.0660011 , 157994.26302998, 192987.08330762, 113923.24285293,
       341275.42334614, 156485.35296042, 173797.39645295, 196515.32425807,
       126695.50229136,  75363.80252679, 145257.08259777, 199749.08739636,
       153480.41695614, 164216.20830584, 149461.36933856, 150019.21943289,
       317907.98957822, 123908.36847752, 247219.24540915, 255079.96542841,
       153665.80868912,  47896.06108998, 261034.58797079, 174024.75297678,
       136218.30042603, 180613.75338518, 133462.04790968, 114740.02399084,
       116626.43423099, 161970.39798247,  66299.92766075, 159413.7146682 ,
       216051.63607981, 155898.3175246 , 271235.36639846, 212159.93309587,
       153423.66960598, 201232.45258424, 188337.6569816 , 243811.11341345,
       387318.96871585, 242819.1551486 , 217580.57515092, 175837.50102802,
       185076.95383006, 305266.38919034, 208249.61026167, 263879.90417221,
       237802.93237053, 130010.7375155 , 117016.36452794, 128876.53669184,
       134841.23934858,  66075.40128695, 154970.08071448, 119081.83451145,
       344427.40179964, 216871.63795295, 174563.12298795, 243045.18430568,
       202482.23718142, 148382.14461203, 221949.17739429, 383173.64083137,
       136578.64297741, 183774.21972333,  61262.90612636, 119456.91989657,
       263141.72546052, 114318.02535173, 220154.93862543, 171485.64753157,
       211577.23126736, 329121.80144424, 124270.98539768, 255983.25745918,
       165935.51888524, 153473.96564557, 160306.40448142, 130361.20152273,
       329155.87626677, 278390.45259151, 147787.34157073, 145266.51920325,
       102725.68643001, 288968.96308146, 226428.87834227,  57844.42989106,
       142618.58994914, 125634.29573282, 118129.8177751 , 228698.21026128,
       324919.49302378, 221517.31824912, 199143.38379462, 230731.15948398,
       231855.74590407, 276183.10265726, 145764.60310597, 107546.14805363,
       299802.90140327, 202718.18749988, 185481.94098831, 121787.2732881 ,
       275244.30986822,  79755.63048063, 227502.52027012, 194108.25106546,
       263020.38803773, 159388.47153367, 214061.89493129, 160468.87698661,
       149336.41749192, 140197.03784653, 135553.34454122, 131254.46343083,
       241307.15968156, 186216.77378276, 150220.17455196, 103454.29039711,
       186272.8789028 , 169692.13868186, 182255.22774862, 235396.82627858,
       111758.63226932, 338151.76412385, 261275.47805326, 160123.71552976,
       128184.15073442, 175021.32367849, 151731.15162413, 123536.16393204,
       427516.80456543,  61865.07506335, 136927.78499135, 206234.12263709,
       145714.8344141 , 235931.07519431, 134588.96711583, 238386.67148955,
       181380.69622177, 305165.82633758, 162059.46810118, 211979.38049478,
       311877.04634407, 154293.24289713, 249420.84645492, 185938.78746143,
       117725.04769409, 219257.92424657, 105406.93360732, 138297.47663492,
       216588.50864124, 154291.41186662, 129335.47220729, 183999.79236152,
       183990.76416571, 357128.63242609,  92228.54338539, 117237.9872435 ,
       111569.78476268, 167651.20721146, 266159.86407689, 112106.09584887,
       305903.42306201, 194308.7229505 , 192093.07988882, 253553.32261849,
       199142.25739609, 290253.52079896, 183434.90584769, 223101.22322841,
       169739.63911556, 220243.26905094, 257611.51584557, 228160.613723  ,
       121383.59249608, 115024.10268585, 151042.87942465,  91026.25956696,
       244052.07025606, 115125.79295526, 111940.69900024, 181192.67405652,
       147273.69626581, 112893.44477248, 155736.56605376, 310517.41512707,
       151547.65537753, 169532.44877926, 221817.0295666 , 201522.36011061,
       232032.13158104,  77194.98953934, 110686.70775926, 152674.7647012 ,
       190491.52800442,  97507.01261765, 358868.1196296 , 120673.15121308,
       176775.44093344, 235758.58780877, 376876.84186666, 138011.05392001,
       186538.15744541, 141851.18555541, 164324.77106893, 158423.45357564,
       293791.73515138, 207258.03004696, 147316.72704961,  98630.61901219,
       311534.30313478, 151850.01338138, 136060.60925449, 118230.20940511,
       217489.25734343, 191002.9991903 , 273590.33616952, 148665.21272649,
       166705.41195394, 185205.1437981 , 264340.81946138, 225432.16975643,
       101260.94825956, 149872.97472597, 158892.92108503, 157409.43801758,
       135790.69884264, 142798.55849875, 181515.15975404, 105084.90863294,
       193113.89501742,  90328.31325409, 209568.18208567, 102573.48136159,
       336607.10835858, 138099.57638639, 121320.1077509 , 171245.87857962,
       176205.98056676, 203799.76608672, 196897.61669024, 231029.69840079,
       174720.39520659, 199684.5751228 , 266989.54931434, 302532.5099766 ,
       221293.33524692, 193457.65927933, 236931.49332143, 121087.79949438,
       101193.13541963, 115308.97821404])

In [31]:
y_preds.shape

(878,)

In [37]:
type(y_preds)

numpy.ndarray

In [38]:
clean_test['SalePrice'] = y_preds

In [39]:
clean_test

,ms_subclass,lot_frontage,lot_area,lot_shape,land_slope,overall_qual,overall_cond,year_built,year_remod/add,mas_vnr_area,...,fence,misc_val,yr_sold,age_at_sale,age_since_remod,bsmnt_fin_sf,sold_in_crisis,has_wood_deck,has_pool,SalePrice
id,,,,,,,,,,,,,,,,,,,,,
2658,190,69.0,9142,4,3,6,8,1910,1950,0.0,...,0,0,2006,96,56,0,0,0,0,150174.447779
2718,90,0.0,9662,3,3,5,4,1977,1977,0.0,...,0,0,2006,29,29,0,0,1,0,151290.998792
2414,60,58.0,17104,3,3,7,5,2006,2006,0.0,...,0,0,2006,0,0,554,0,1,0,213115.409266
1989,30,60.0,8520,4,3,5,6,1923,2006,0.0,...,0,0,2007,84,1,0,0,0,0,109443.005094
625,20,0.0,9500,3,3,6,5,1963,1963,247.0,...,0,0,2009,46,46,609,1,0,0,184454.023204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1662,60,80.0,8000,4,3,6,6,1974,1974,0.0,...,0,0,2007,33,33,1084,0,0,0,193457.659279
1234,60,90.0,14670,4,3,6,7,1966,1999,410.0,...,3,0,2008,42,9,575,1,0,0,236931.493321
1373,20,55.0,8250,4,3,5,5,1968,1968,0.0,...,0,0,2008,40,40,742,1,0,0,121087.799494
1672,20,60.0,9000,4,3,4,6,1971,1971,0.0,...,2,0,2007,36,36,616,0,0,0,101193.135420
1939,20,70.0,8400,4,3,5,5,1955,1955,0.0,...,2,0,2007,52,52,793,0,1,0,115308.978214

In [40]:
clean_test['SalePrice'].max(), clean_test['SalePrice'].min(), clean_test['SalePrice'].median(), clean_test['SalePrice'].mean()

(546742.0767442612, 869.3651307316031, 163924.47966110858, 180186.85943641906)

In [46]:
submission = clean_test[['SalePrice']]
submission

          SalePrice
id
2658  150174.447779
2718  151290.998792
2414  213115.409266
1989  109443.005094
625   184454.023204
...             ...
1662  193457.659279
1234  236931.493321
1373  121087.799494
1672  101193.135420
1939  115308.978214

[878 rows x 1 columns]

In [47]:
submission.to_csv('./datasets/DK_submission.csv')